<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Vue 3 Components">
        <meta name="keywords" content="Vue 3, Components">
        <meta name="author" content="Andre Mesquita" />
        <meta name="site" content="andremesquita.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Vue 3 Study - Lessons 9 - Loops</title>
        <style>
            [v-cloak] {
                display: none;
            }
            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body style="background-color: darkgrey;">
        <div id="app" v-cloak>
            <!-- component use - login form -->
            <login-form />
        </div>

        <!-- VUE LOAD SCRIPT -->
        <script src="https://unpkg.com/vue@next"></script>

        <!-- VUE APPLICATION -->
        <script>
            // APP is a main component
            let app = Vue.createApp(            
            {
                // APP variables
                data: function() {
                    return {
                    }
                },
                // APP methods
                methods: {
                }
            });
            // COMPONENT LOGIN-FORM
            app.component('login-form', {
                // COMPONENT TEMPLATE
                template: `
                    <form @submit.prevent="handleSubmit">
                        <h1>{{ title }}</h1>
                        <custom-input 
                            v-for="(input, i) in inputs" :key="i"
                            v-model="input.value" 
                            :modelValue="input.email" 
                            :label="input.label" 
                            :type="input.type" />                        
                        <button>Log in</button>
                    </form>
                `,
                // DECLARE A SUB-COMPONENT
                components: ['custom-input'],
                // DECLARE VARIABLES
                data() {
                    return {
                        title: 'Login Form',
                        inputs: [
                            {
                                label: 'Email',
                                value: '',
                                type: 'email'
                            },
                            {
                                label: 'Password',
                                value: '',
                                type: 'password'
                            }
                        ],
                    }
                },
                // COMPONENT METHODS
                methods: {
                    // SUBMIT FORM METHOD
                    handleSubmit() {                                                
                        console.log(this.inputs[0].value, this.inputs[1].value);
                    }
                }
            });
            // COMPONENT TO USE AS A SUB-COMPONENT OF A COMPONENT LOGIN-FORM
            app.component('custom-input', {
                // COMPONENT TEMPLATE
                template: `
                    <label>
                        {{ label }}
                        <input :type="type" v-model="inputValue">
                    </label>
                `,
                // COMPONENT PROPERTIES
                props: [ 'label', 'type', 'modelValue' ],
                // COMPONENT COMPUTED VARIABLES
                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue
                        },
                        set(value) {
                            this.$emit('update:modelValue', value);
                        }
                    }
                }
            });

            // APP is mounting application at element #app
            app.mount('#app');
        </script>
    </body>
</html>
